@import "primeicons/primeicons.css";
@import "tailwindcss";

:root {
    --primary-color: var(--p-primary-color);
    --primary-contrast-color: var(--p-primary-contrast-color);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --surface-border: var(--p-content-border-color);
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --surface-overlay: var(--p-overlay-popover-background);
    --transition-duration: var(--p-transition-duration);
    --maskbg: var(--p-mask-background);
    --content-border-radius: 12px;
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --focus-ring-width: var(--p-focus-ring-width);
    --focus-ring-style: var(--p-focus-ring-style);
    --focus-ring-color: var(--p-focus-ring-color);
    --focus-ring-offset: var(--p-focus-ring-offset);
    --focus-ring-shadow: var(--p-focus-ring-shadow);
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
}

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 6rem;
    left: 2rem;
    transition:
        transform var(--layout-section-transition-duration),
        left var(--layout-section-transition-duration);
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 0.5rem 1.5rem;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text-color);
            margin: 0.75rem 0;
        }

        > a {
            display: none;
        }
    }

    a {
        user-select: none;

        &.active-menuitem {
            > .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: 0.75rem 1rem;
            border-radius: var(--content-border-radius);
            transition:
                background-color var(--element-transition-duration),
                box-shadow var(--element-transition-duration);

            .layout-menuitem-icon {
                margin-right: 0.5rem;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform var(--element-transition-duration);
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            /* &:focus {
                @include focused-inset();
            } */
        }

        ul {
            overflow: hidden;
            border-radius: var(--content-border-radius);

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}


.layout-topbar {
    position: fixed;
    height: 5rem;
    z-index: 997;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    background-color: var(--surface-card);
    transition: left var(--layout-section-transition-duration);
    display: flex;
    align-items: center;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

    .layout-topbar-logo-container {
        width: 20rem;
        display: flex;
        align-items: center;
    }

    .layout-topbar-logo {
        display: inline-flex;
        align-items: center;
        font-size: 1.5rem;
        border-radius: var(--content-border-radius);
        color: var(--text-color);
        font-weight: 500;
        gap: 0.5rem;
        height: 3rem;

        svg {
            width: 3rem;
        }

        /* &:focus-visible {
            @include focused();
        } */
    }

    .layout-topbar-action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--text-color-secondary);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        color: var(--text-color);
        transition: background-color var(--element-transition-duration);
        cursor: pointer;

        &:hover {
            background-color: var(--surface-hover);
        }

        /* &:focus-visible {
            @include focused();
        } */

        i {
            font-size: 1.25rem;
        }

        span {
            font-size: 1rem;
            display: none;
        }

        &.layout-topbar-action-highlight {
            background-color: var(--primary-color);
            color: var(--primary-contrast-color);
        }
    }

    .layout-menu-button {
        margin-right: 0.5rem;
    }

    .layout-topbar-menu-button {
        display: none;
    }

    .layout-topbar-actions {
        margin-left: auto;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .layout-topbar-menu-content {
        display: flex;
        gap: 1rem;
    }

    .layout-config-menu {
        display: flex;
        gap: 1rem;
    }
}

@media (max-width: 991px) {
    .layout-topbar-actions {
        /* flex-direction: column;
        gap: 0.25rem;
        align-items: flex-start;
        margin-left: 0; */
        display: flex;
        gap:0.25rem;
    }

    .layout-topbar-menu-button {
        display: inline-flex;
    }

    .layout-topbar-menu-content {
        flex-direction: column;
        gap: 0.5rem;
    }

    .layout-topbar-action {
        width: 100%;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border-radius: var(--content-border-radius);
    }
}

.config-panel {
    .config-panel-label {
        font-size: 0.875rem;
        color: var(--text-secondary-color);
        font-weight: 600;
        line-height: 1;
    }

    .config-panel-colors {
        > div {
            padding-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            justify-content: space-between;

            button {
                border: none;
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 50%;
                padding: 0;
                cursor: pointer;
                outline-color: transparent;
                outline-width: 2px;
                outline-style: solid;
                outline-offset: 1px;

                &.active-color {
                    outline-color: var(--primary-color);
                }
            }
        }
    }

    .config-panel-settings {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@media screen and (min-width: 1960px) {
    .layout-main,
    .landing-wrapper {
        width: 1504px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
                padding-left: 2rem;
            }

            .layout-sidebar {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                height: 100vh;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-right: 1px solid var(--surface-border);
                transition:
                    transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                    left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
                box-shadow:
                    0px 3px 5px rgba(0, 0, 0, 0.02),
                    0px 0px 2px rgba(0, 0, 0, 0.05),
                    0px 1px 4px rgba(0, 0, 0, 0.08);
            }

            &.layout-overlay-active {
                .layout-sidebar {
                    transform: translateX(0);
                }
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 22rem;
            }

            &.layout-static-inactive {
                .layout-sidebar {
                    transform: translateX(-100%);
                    left: 0;
                }

                .layout-main-container {
                    margin-left: 0;
                    padding-left: 2rem;
                }
            }
        }

        .layout-mask {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .blocked-scroll {
        overflow: hidden;
    }

    .layout-wrapper {
        .layout-main-container {
            margin-left: 0;
            padding-left: 2rem;
        }

        .layout-sidebar {
            transform: translateX(-100%);
            left: 0;
            top: 0;
            height: 100vh;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            transition:
                transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99),
                left 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
        }

        .layout-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 998;
            width: 100%;
            height: 100%;
            background-color: var(--maskbg);
        }

        &.layout-mobile-active {
            .layout-sidebar {
                transform: translateX(0);
            }

            .layout-mask {
                display: block;
            }
        }
    }
}

.layout-main-container {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    /* justify-content: space-between; */
    padding: 6rem 2rem 0 2rem;
    /* transition: margin-left var(--layout-section-transition-duration); */
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
